body {
  background-color: #121212;
  color: #E0E0E0;
  margin: 20px;
  font-family: 'Amatic SC', cursive;
  font-size: 22px;}

h1 {
  font-family: 'Oswald', sans-serif;}
a {color: #1A73E8;}
img {margin: 20px; 
  width: 400px;}
